@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  text-transform: uppercase;
  @apply text-gray-600 text-xl font-semibold;
}

.section {
  margin-top: 30px;
}

p {
  @apply text-gray-600 text-sm;
}

.sectionImg {
  max-height: 200px;
}


a {
  @apply text-blue-600
}

a:hover {
  @apply text-blue-800
}